.fullScreen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 123;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  background-color: black;
  padding: 2rem;
  border: none;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: red;
}

.paragraph {
  color: white;
}

.delete {
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: .3rem;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem;
}

.backupEntry {
  color: white;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  background-color: cornflowerblue;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

.button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: darksalmon;
}

.button:hover {
  background-color: rgba(233, 150, 122, 0.8);
}

.button:active {
  font-style: italic;
}