.entry {
  display: flex;
  padding: 2rem;
}

.key {
  align-self: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1.33rem;
  font-weight: bold;
  border: none;
  outline: none;
}

.value {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  flex: 1;
  height: 7rem;
}

.delete {
  background-color: red;
  color: black;
  font-weight: bold;
  margin-left: 1rem;
  border: none;
  border-radius: .3rem;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  align-self: center;
  padding: .5rem;
}